/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
  

}

/*override bootstrap so left and right column align vertically*/
h4 {
	margin-top: 20px;
}

.table-grey-background{
	background-color: #ededed;
}

.table-light-grey-background{
	background-color: #f9f9f9;
}

.padding-top-glyph {
    padding-top: 10px;
}

.padding-top-lower-glyph {
    padding-top: 20px;
}

#logo{
	width:100%;
}

#frame {
    width: 100%;
    height: 600px;
    border:0;
}

/* Make table hover darker/more visible */
.table-hover > tbody > tr:hover {
  background-color: #D2D2D2;
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.active {
  background-color: #e7e7e7;
   background-clip: padding-box;
}
/* Make the masthead heading the same height as the navigation */
.header {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

/* Supporting content */
.content {
  margin: 40px 0;
  margin-top: 28px;

	/*Set the background image*/  
	background-image: url("../media/background.png");
	background-repeat: no-repeat;
	background-position: top;
  padding-bottom: 15%
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 75%;
  }
}

/* Customize container */
@media (max-width: 1200px) {
  .navbar {
    margin-top: 10px;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
   /*Remove the padding we set earlier*/ 
  .header,
  .content,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
   /*Space out the masthead*/ 
  .header {
    margin-bottom: 30px;
  }
}

.nav>li>h3>a {
  color: black;
  text-decoration: none;
  display: flex;
}

.nav>li:not(.active):hover {
  background-color: #D2D2D2;
   background-clip: padding-box;
}


.nav>li {
  padding-left: 15px;
  padding-right: 15px;
}

.titel-startseite {
  text-align: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.glyphicon{
    font-size: 2.5em;
}