
/*For Windows Phone mobile responsive compatibility*/
@-ms-viewport{
	width: device-width;
}

/*Set the background image*/
body {
	background-image: url("media/background.png");
	background-repeat: no-repeat;
	background-position: center;
}

/*Set the size of the Main Paragraph*/
#thematext{
	font-size: 11pt;
}

/*For mobile devices*/
@media handheld, screen and (max-width: 481px), screen and (max-device-width: 481px){

	/*Reduce Padding to fill the whole screen with content*/
	#wrapper {
		width: 100%;
		padding: 2px;
		
	}

	/*Header moves beneath the logo*/
	#header{
		margin-bottom: 1%;
		padding: 2px;
		overflow: hidden;
	}
	
	/*Remove the line seperating header from content*/
	#title_header{
		margin-top: 2%;
	}
	
}

/*For tablets, big sized phones and site in half screen*/
@media screen and (min-width: 600px) and (max-width: 999px){
	
	/*Set Wrapper to use a lot of the screen*/
	#wrapper {
		margin-left:auto; 
		margin-right:auto;
		width: 90%;
		padding: 2px;
		
	}

	#header{
		margin-top: 4%;
		margin-bottom: 1%;
		padding: 2px;
		overflow: hidden;
	}

	#title_header{
		border-bottom: solid 2px;
		box-shadow: 1px #888888;
		padding-top: 6%;
		width: 58%;
		float: right;

	}

	#img_header{
		padding-top: 5%;
		margin-right: 2%;
		width: 40%;
		float: left;
	}
	#right{
		float: right;
		width: 30%;
		text-align: left;
		margin-top: 2%;
	}
	
		
	#left {
		width: 60%;
		float: left;
		text-align: left;
		margin-left: 2%;
		margin-top: 2%;
		margin-right: 5%;
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-webkit-hyphens:auto;
		hyphens:auto;
		word-wrap:break-word;
	}

}

@media screen and (min-width: 1000px){

	#wrapper {
		margin-left:auto; 
		margin-right:auto;
		width: 75%;
		padding: 2px;
		
	}

	#header{
		margin-top: 4%;
		margin-bottom: 1%;
		padding: 2px;
		overflow: hidden;
	}

	#title_header{
		border-bottom: solid 2px;
		box-shadow: 1px #888888;
		padding-top: 6%;
		width: 58%;
		float: right;

	}

	#img_header{
		padding-top: 5%;
		margin-right: 2%;
		width: 40%;
		float: left;
	}
	#right{
		float: right;
		width: 30%;
		text-align: left;
		margin-top: 2%;
	}
	
		
	#left {
		width: 60%;
		float: left;
		text-align: left;
		margin-left: 2%;
		margin-top: 2%;
		margin-right: 5%
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-webkit-hyphens:auto;
		hyphens:auto;
		word-wrap:break-word;

	}

}

#logo {
	max-width:100%; 
	max-height:100%;
	
}


#titel{
	float: left;
}

#datum {
	float: right;
	margin-right: 3%;
}

#content{
	margin-top: 2%;
}

#anmeldung_div{
	margin-top: 5%;
}



#footer{
	clear: both;
	padding-top: 4%;
}


p {
	margin-bottom: 10%;

}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;

}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

/*Button*/
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.classname:active {
	position:relative;
	top:1px;
}